@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-font {
  font-family: "Poppins", sans-serif;
}

/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared classes */
.width {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.vertical-center{
    display: flex;
    align-items: center;
}

/* Root */
:root{
    --primary-color: #3a3a3a;
    --secondary-color: #6C6C6C;
}

/* Navigation panel styling */

.navbar {
  justify-content: space-between;
  margin-top: 75px;
}
.navbar h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-ul {
  list-style-type: none;
  gap: 34px;
  font-size: 1rem;
  font-weight: 600;
}
.nav-ul a {
  text-decoration: none;
  color: var(--primary-color);
}

/* hero section styling */

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
 
}
.hero-text h2{
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
}
.hero-text p{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    width: 505px;

}

.hero-container button{
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 41px;
    margin-top: 16px;
}

/* Company Logos styling */
.logos{
    width: 77%;
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-top: 1px solid #6c6c6c14;
    border-bottom: 1px solid #6c6c6c14;
    padding: 35px 62px;
}
.logos ul{
    justify-content: space-around;
}

/* Collections section styling */

#title{
    text-align: center;
     color: var(--primary-color);
    font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 63px;
      margin-top: 0;
}
.collections{
    width: 72%;
    height: 1662px;
    max-width: 1047px;
    margin: 0 auto;
}
.products-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    margin-left: 20px;
}
.card p{
  width: 196px;
  margin-left: 14px;

}
.card{
    width: 329px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 490px;
    
}
.collections h3{
    color: var(--primary-color);
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 14px;
    
}
.product-picture{
    padding: 17px 15px 0px 14px;
}
.review{
    margin-left: 14px;
}

#see {
    text-align: right;
    margin-top: 50px;
    color:#E02C6D;
    font-size: 1rem;
    font-weight: bold;
}

/* Feature section */
.feature{
       width: 77%;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 174px;
    margin-bottom: 101px;
    gap: 96px;
}

.featute-text{
    margin-top: 20px;
}
.featute-text h2{
    color: var(--primary-color);
    font-size: 2.375rem;
    font-weight: bold;
    line-height: 60px;
}
.featute-text p{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    margin-top: 16px;

}
.featute-text button{
    padding: 10px 8px 10px 15px;
    background-color: #E02C6D;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    width: 155px;
    height: 44px;
    margin-top: 16px;

}
button:hover{
    background-color: #fc035e;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
/* Footer section styling */
.foot{
    background-color: #090327;
    color: #ffffff;
    height: 238px;
    text-align: center;
    padding: 50px 589px;
    font-size: 1rem;
    line-height: 24px;

}
.foot h3{
        font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 18px;
}
.foot-ul{
    justify-content: center;
    gap: 16px;
    margin-top: 17px;
    
}